<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body {
            padding: 50px;
            background-color: skyblue;
            color: #fff;
            font: 14px/1.4 sans-serif;
            text-align: center;
        }
        h1 {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <%- include('partials/nav') -%>
    <h1>
        This is contact page of node.js website.
    </h1>
</body>
</html>